@page "/server-monitor"
@using System.Threading.Tasks
@using NovaPanel.Model.ServerMonitorM
@using NovaPanel.Model;

<PageTitle>Server Monitor</PageTitle>

<div>
    <p><strong>CPU 信息：</strong>@ApplicationRuntimes.HardInfo.CPU</p>
    <p><strong>GPU 信息：</strong>@ApplicationRuntimes.HardInfo.GPU</p>
    <p><strong>CPU 使用率:</strong> @CpuUsageA %</p>
    <p><strong>RAM 使用率:</strong> @RamUsagePercentage</p>
    <p><strong>RAM 占用:</strong> @RamUsage.FormatSize(RamTotalA - RamUsageA)可用 ， 共 @RamUsage.FormatSize(RamTotalA)</p>
</div>



@code {
    string RamUsagePercentage = "";
    double RamUsageA = 0;
    double RamTotalA = 0;
    double CpuUsageA = 0;

    protected override async Task OnInitializedAsync()
    {
        while (true)
        {
            RamUsageA = ApplicationRuntimes.State.RamUsageA;
            CpuUsageA = ApplicationRuntimes.State.CpuUsageA;
            RamTotalA = ApplicationRuntimes.State.RamTotalA;
            RamUsagePercentage = (RamUsageA / RamTotalA).ToString("00.00%");

            await Task.Delay(1000);
            StateHasChanged();
        }
    }
}